.container{
    background-image: url(car.svg);
    background-size: cover;
    height: 90px;
    width: 100px;
    /* animation */
    animation-name: car;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-direction: alternate;

}
@keyframes car{
    0%{
        left: 0%;
        top: 0%;
    }
    25%{
        left: 80%;
        top: 0%;
    }
    50%{
        left: 80%;
        top: 80%;
    }
    75%{
        left: 0%;
        top: 80%;
    }
    100%{
        left: 0%;
        top: 0%;
    }
}